<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>login</title>
</head>
<body>
  <div id="page" class="login">
    <h1>SY`s Page</h1>
    <form id="login-form" class="hidden">
      <input class="form-id" type="text" placeholder="ID" required />
      <input class="form-pw" type="password" placeholder="Password" />
      <input id="check-write" class="form-check" type="checkbox" />
      <label for="check-write" class="form-label">로그인 상태 유지</label>
      <button>Log In</button>
    </form>
    <ul class="find-container">
      <li><a href="javascript:;">비밀번호 찾기</a></li>
      <li><a href="javascript:;">아이디 찾기</a></li>
      <li><a href="javascript:;">회원가입</a></li>
    </ul>

  </div>
  <script src="../js/app.js"></script>
  <script src="../js/todo.js"></script>
</body>
</html>